{% extends "base.html.twig" %}
  {% block body %}
  {% block topmenu %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <a href='/'>
      <img src="img/logo.png" alt="logo" style="max-height:50px;" />
    </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <form class="navbar-form navbar-right">
      <div class="form-group">
        <div>Client : {{ username }}</div>
      </form>
    </div>
    </div>
  </nav>
  {% endblock %}




    {% for modele in modeles %}
      <div class='col-lg-12 blockmodelegamme flex-parent'>
      <div class='blockmodele col-lg-3 col-md-4 col-sm-12 col-xs-12'>
        <p class='text-center titlemodele'>{{ modele.nom}}</p>
        <img src='img/{{ modele.url}}' class="img-responsive imgmodele">
      </div>
      <div class='blockgamme col-lg-9 col-md-8 col-sm-12 col-xs-12'>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                {% for element in modele.gamme %}
                  <th class="text-center">{{element}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Panneau en bois</td>
                {% for element in modele.gamme %}
                <td class="text-center" scope="row"><span class="glyphicon glyphicon-ok"></span></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Fenetre en PVC</td>
                {% for element in modele.gamme %}
                <td class="text-center" scope="row"><span class="glyphicon glyphicon-plus"></span></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Volets en bois</td>
                {% for element in modele.gamme %}
                <td class="text-center" scope="row"><span class="glyphicon glyphicon-plus"></span></td>
                {% endfor %}
              </tr>
              <tr>
                <td>Couverture chaume</td>
                {% for element in modele.gamme %}
                <td class="text-center" scope="row"><span class="glyphicon glyphicon-remove"></span></td>
                {% endfor %}
              </tr>


              <tr>

                <td></td>
                {% for element in modele.gamme %}
                <td class="text-center"><div class="col-md-12"><a href="/results">
                  <input class="btn btn-secondary" type="button" value="Choisir cette gamme"></a>
                </div></td>
                {% endfor %}

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    {% endfor %}
  {% endblock %}
